* { box-sizing: border-box; }

body {
  margin: 0 auto;
  background: #f1f0f5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1em;
}

label {
  cursor: pointer;
}

button {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 0.25%;
  margin-left: 0.25%;
  color: white;
  width: 125px;
  background-color:red;
  font-family:inherit;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  height: 47px;
  border: 1px solid red;
  display:inline-block;
}

.first-page {
  background: url("hungarian_migrants.jpg") fixed center no-repeat;
  background-size:cover;
}

.second-page {
  background:white;
  background-size:cover;
}

.news-tile {
  margin: 0 auto;
  background: white;
  padding:20px;
  max-width: 250px;
  min-width:150px;
  height:500px;
  border-radius: 8px;
  border-color: rgb (74,74,74);
  display:inline-block;
  overflow:hidden;
  text-decoration:none;
  font-size: 12px;
}

.description {
  max-height:100px;
  overflow: hidden;
}

.news-image {
  width: 200px;
  height: 200px;
}

.search-button {
  vertical-align:top;
}

.favorites_popup_open {
  display:none;
  vertical-align: top;

}

.favorites_popup_close {
  width: 85px;
  float:right;
}

.news-icon {
  height: 10px;
  width: 10px;
  float: right;
}

.news-title {
  display: block;
  font-size:15px;
  color:black;
  text-decoration: none;
  font-size: 15px;
  font-weight:bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 260px;
}

.fav-title {
  display: block;
  color:black;
  text-decoration: none;
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 200px;
}

#news-search-form {
  margin:auto 20%;
  margin-top: 225px;
}

#new-item-input {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 0.25%;
  margin-left: 0.25%;
  width: 50%;
  font-size:20px;
  font-family:inherit;
  display:inline-block;
  border-bottom-width: 2px;
  border-radius: 5px;
  font-size: inherit;
  padding: .5em 1em;
}

#news-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#favorites_popup {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding:15px;
  box-shadow:0px 0px 10px lightgrey;
  font-size: 17px;
  font-family:inherited;
}

#favorites-list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

#favorites-list li {
  padding-top: 10px;
  color:grey;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

#favorites-list li:last-child {
  border-bottom: none;
  padding-bottom:10px;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: black;
    box-shadow: 0 1px 1px lightgrey inset, 0 0 8px lightgrey;
    outline: 0 none;
}
