* { box-sizing: border-box; }

body {
  margin: 0 auto;
  background: #f1f0f5;
  font-family: Arial !important;
  font-size: 20px;
  line-height: 1em;
}

main {
  margin: 2em auto;
  background: transparent;
  padding: 10px 20px;
  min-width: 800px;
  border-radius: 5px;
}

label {
  cursor: pointer;
}

footer {
  text-align:center;
  color: black;
}

button {
  color: white;
  width: 28%;
  background-color:rgb(72, 196, 170);
}

input,
button {
  font-family:inherent;
}

.first-page {
  background:
  url("hungarian_migrants.jpg") fixed center no-repeat;
  background-size:cover;
}

.news-tile {
  margin: 50px 25px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  background: white;
  padding: 10px 10px 10px 10px;
  max-width: 300px;
  min-width:250px;
  height:300px;
  border-radius: 5px;
  display:inline-block;
  overflow:hidden;
  text-decoration:none;
  font-size: 15px;
}

.description {
  max-height:75px;
  overflow: hidden;
}

.buttonish {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-width: 2px;
  border-radius: 5px; font-size: inherit;
  padding: .5em 1em;
  cursor: pointer;
}

.news-icon {
  height: 10px;
  width: 10px;
  float: right;
}

.news-title {
  display: block;
  font-size:15px;
  color:rgb(72, 196, 170);
  text-decoration: none;
  font-size: 15px;
  font-weight:bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 260px;
}

#new-item-input {
  width: 40%;
  margin:0 auto;
  margin-top: 225px;
}

#news-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#news-list li {
  margin-top: 0.75em;
  padding-top: 0.75em;
  color:grey;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 25px;
}

#news-list li:last-child {
  border-bottom: none;
  padding-bottom:0px;
}

#news-list ul li:after {
  content: url('...blueheart.png');
}

input[type="checkbox"] {
  margin-right: 1em;
}

input:checked + span {
  opacity: 0.2;
  text-decoration: line-through;
}
