* { box-sizing: border-box; }

body {
  margin: 0 auto;
  background: #f1f0f5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1em;
}

label {
  cursor: pointer;
}

button {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 0.25%;
  margin-left: 0.25%;
  color: white;
  width: 125px;
  background-color:	#3b5998;
  font-family:inherit;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  height: 47px;
  border: 1px solid #3b5998;
  display:inline-block;
}
.outer { width: 600px; }
.inner { width: 250px; margin: 0 auto; }

.main-title {
  margin:1%;
  width: 100%;
  font-size:64px;
  font-family:inherit;
  display:inline-block;
  visibility: hidden;
  color: #595959 !important;
}

.sub-title {
  margin:1%;
  width: 90%;
  font-type: inherit;
  font-style: oblique;
  font-size:18px;
  display:inline-block;
  visibility: hidden;
  color:grey;
}

.sub-title.visible, .main-title.visible, .news-tile.visible {
  visibility: visible !important;
}

.first-page {
  background: url("view.jpg") fixed center no-repeat;
  background-size:cover;
}

.second-page {
  background:white;
  background-size:cover;
}

.news-tile {
  color:grey;
  margin: 10px;
  background: white;
  padding:10px;
  width: 150px;
  height:260px;
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
  border-color: #3b5998;
  display:inline-block;
  overflow:hidden;
  visibility: hidden;
  text-decoration:none;
  font-size: 12px;

}
.news-title {
  display: block;
  font-size:15px;
  color: #595959;
  text-decoration: none;
  font-size: 15px;
  font-weight:bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 260px;
}

.description {
  max-height:100px;
  overflow: hidden;
  color:grey;
}
.news-image {
  width: 100px;
  height: 100px;
  display:inline-block;
  justify-content: center;
}
.news-icon {
  height: 15px;
  width: 15px;
  text-align:center;
  margin-left:10px;
  padding-bottom: 2px;
  float:right;
}
.search-button {
  vertical-align:top;
}

.favorites_popup_open {
  display:none;
  vertical-align: top;
}

.favorites_popup_close {
  width: 85px;
  float:right;
}

.fav-title {
  display: block;
  color:black;
  text-decoration: none;
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 200px;
}

#news-search-form {
  margin:auto 20%;
  width: 70%;
  margin-top: 225px;
}

#new-item-input {
  margin-top: 1%;
  margin-bottom: 5%;
  margin-right: 0.25%;
  margin-left: 0.25%;
  width: 60%;
  font-size:20px;
  font-family:inherit;
  display:inline-block;
  border-bottom-width: 2px;
  border-radius: 5px;
  padding: .5em 1em;

}
#news-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

#favorites_popup {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding:15px;
  box-shadow:0px 0px 10px lightgrey;
  font-size: 17px;
  font-family:inherited;
}

#favorites-list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

#favorites-list li {
  padding-top: 10px;
  color:grey;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

#favorites-list li:last-child {
  border-bottom: none;
  padding-bottom:10px;
}

#share_to_facebook {
  width: 85px;
  float:right;
}
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: black;
    box-shadow: 0 1px 1px lightgrey inset, 0 0 8px lightgrey;
    outline: 0 none;
}
